<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Web UI | Cloudflare Workers AI</title>
        <script src="https://unpkg.com/alpinejs" defer></script>
        <script src="https://cdn.twind.style"></script>
    </head>

    <body>
        <div class="container mx-auto">
            <div
                class="flex flex-col md:flex-row m-4 gap-4 items-center justify-center"
            >
                {{ range $path, $name := .Paths }}
                <a
                    href="{{$path}}"
                    class="whitespace-nowrap w-full border-b-4 {{ if eq $path $.CurrentPath }} border-blue-500 {{ else }} text-gray-700 {{ end }}"
                >
                    {{$name}}
                </a>
                {{ end }}
            </div>
            <div class="p-4">{{embed}}</div>
        </div>
    </body>
</html>
