<div x-data="{ textA: '', textB: '', similarity: null, loading: false }">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="w-full">
            {{ template "views/partials/large-textarea" "textA" }}
        </div>
        <div class="w-full">
            {{ template "views/partials/large-textarea" "textB" }}
        </div>
    </div>
    <div class="w-full flex flex-col items-center space-y-2">
        <button
            class="mt-4 bg-blue-500 disabled:bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none"
            :disabled="loading || !textA || !textB"
            x-text="loading ? 'Comparing...' : 'Compare'"
            @click="loading = true; similarity = await getSimilarity(textA, textB); loading = false;"
        ></button>
        <p x-show="similarity" x-text="`Similarity: ${similarity}`"></p>
    </div>
</div>

<script src="https://unpkg.com/mathjs"></script>
<script>
    "use strict";

    function getEmbedding(...text) {
        return fetch('/api/run/@cf/baai/bge-large-en-v1.5', {
            method: 'POST',
            body: JSON.stringify({ text }),
        })
            .then(r => r.json())
            .then(r => r.result.data)
            .catch(e => console.error(e));
    }

    function calculateCosineSimilarity(vectorA, vectorB) {
        const dotProduct = math.dot(vectorA, vectorB);

        const magnitudeA = math.norm(vectorA);
        const magnitudeB = math.norm(vectorB);

        const cosineSimilarity = dotProduct / (magnitudeA * magnitudeB);

        return cosineSimilarity;
    }

    async function getSimilarity(textA, textB) {
        const [embeddingA, embeddingB] = await getEmbedding(textA, textB)

        const similarity = calculateCosineSimilarity(
            math.matrix(embeddingA),
            math.matrix(embeddingB)
        );

        return similarity;
    }
</script>
