<div x-data="{ prompt: '', imageUrl: null, loading: false }">
    <form
        class="flex items-center mb-4"
        @submit.prevent="if (!prompt || loading) return;
        loading = true;
        URL.revokeObjectURL(imageUrl);
        imageUrl = await generateImage(prompt);
        loading = false;"
    >
        <input
            type="text"
            x-model="prompt"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark:(bg-gray-900 text-gray-50)"
            placeholder="Type prompt here..."
        />
        <button
            :disabled="!prompt || loading"
            class="ml-4 bg-blue-500 disabled:bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
            x-text="loading ? 'Generating...' : 'Generate'"
        ></button>
    </form>

    <div
        x-data="{ fromLang: '', translating: false, enhancing: false }"
        class="grid w-full grid-cols-1 md:grid-cols-2 gap-4"
    >
        <div class="flex items-center gap-4 justify-center md:justify-start">
            <p class="whitespace-nowrap">Translate to English from</p>
            <select
                class="p-1 dark:(bg-gray-900 text-gray-50)"
                x-model="fromLang"
            >
                <template x-for="lang in listLanguages()">
                    <option :value="lang" x-text="lang"></option>
                </template>
            </select>
        </div>

        <div class="flex items-center justify-center md:justify-end">
            <button
                :disabled="!prompt || translating"
                class="bg-blue-500 disabled:bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                x-text="translating ? 'Translating...' : 'Translate'"
                @click="translating = true; prompt = await translate(prompt, fromLang, 'English'); translating = false;"
            ></button>

            <button
                :disabled="!prompt || enhancing"
                class="ml-4 bg-blue-500 disabled:bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                x-text="enhancing ? 'Enhancing...' : 'Enhance'"
                @click="enhancing = true; enhancePrompt = getImageEnhancePrompt(prompt); prompt = ''
                for await (const token of generateText(enhancePrompt)) {
                    prompt += token;
                }
                prompt = prompt.trim();
                enhancing = false;"
            ></button>
        </div>
    </div>

    <div x-show="imageUrl" class="flex justify-center mt-4">
        <img
            :src="imageUrl"
            alt="Generated Image"
            class="max-w-full h-auto rounded-md shadow-lg"
        />
    </div>
</div>

{{ template "views/partials/generate-text-script" }}

<script>
    'use strict';

    function generateImage(prompt) {
        return fetch('/api/run/@cf/stabilityai/stable-diffusion-xl-base-1.0', {
            method: 'POST',
            body: JSON.stringify({ prompt }),
        })
            .then(r => r.arrayBuffer())
            .then(a => new Blob([a], { type: 'image/png' }))
            .then(b => URL.createObjectURL(b))
            .catch(e => console.error(e));
    }

    function getImageEnhancePrompt(basePrompt) {
        return `<s>[INST] Enhance base prompt to detailed prompt, which can be used to generate high-quality images.
Examples:

Base Prompt:
anime boy with yellow hair and blue eyes

Detailed Prompt:
Anime-style portrait of a boy with yellow hair and blue eyes, upper body shot. He is adorned in traditional Japanese clothing, like a yukata, with a serene, historical Japanese garden as the backdrop.

Base Prompt:
landscape with a mountain and a lake

Detailed Prompt:
A tranquil mountain landscape beside a lake during sunrise, featuring a sky painted with hues of pink and orange reflecting off the calm waters. The mountain is partially shrouded in morning mist, adding to the serene and peaceful atmosphere.

Base Prompt:
cityscape at dusk with skyscrapers and a river

Detailed Prompt:
A cityscape at dusk where modern skyscrapers and historic buildings coexist by a river. The soft evening light highlights the contrast between old and new architecture, with the river acting as a mirror reflecting the diverse urban skyline.

Now, enhance the following base prompt to a detailed prompt:
${basePrompt} [/INST] Detailed Prompt:`;
    }
</script>

{{ template "views/partials/translate-script" }}
