<div
    x-data="{ prompt: '', imageUrl: null, loading: false, fromLang: 'English', translating: false }"
>
    <form
        class="flex items-center mb-4"
        @submit.prevent="if (!prompt || loading) return;
        loading = true;
        URL.revokeObjectURL(imageUrl);
        imageUrl = await generateImage(prompt);
        loading = false;"
    >
        <input
            type="text"
            x-model="prompt"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Type prompt here..."
        />
        <button
            :disabled="loading"
            class="ml-4 bg-blue-500 disabled:bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
            x-text="loading ? 'Generating...' : 'Generate'"
        ></button>
    </form>

    <div class="flex w-full items-center justify-between">
        <div class="flex items-center">
            <p class="mr-2">Translate to English from</p>
            <select class="p-1" x-model="fromLang">
                <template x-for="lang in listLanguages()">
                    <option :value="lang" x-text="lang"></option>
                </template>
            </select>
        </div>

        <button
            :disabled="translating"
            class="ml-4 bg-blue-500 disabled:bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            @click="translating = true; prompt = await translate(prompt, fromLang, 'English'); translating = false;"
            x-text="translating ? 'Translating...' : 'Translate'"
        ></button>
    </div>

    <div x-show="imageUrl" class="flex justify-center mt-4">
        <img
            :src="imageUrl"
            alt="Generated Image"
            class="max-w-full h-auto rounded-md shadow-lg"
        />
    </div>
</div>

<script>
    'use strict';

    function generateImage(prompt) {
        return fetch('/api/run/@cf/stabilityai/stable-diffusion-xl-base-1.0', {
            method: 'POST',
            body: JSON.stringify({ prompt }),
        })
            .then(r => r.arrayBuffer())
            .then(a => new Blob([a], { type: 'image/png' }))
            .then(b => URL.createObjectURL(b))
            .catch(e => console.error(e));
    }
</script>

{{ template "views/partials/translate-script" }}
