<div x-data="{ prompt: '', loading: false, abortController: null }">
    {{ template "views/partials/large-textarea" "prompt" }}
    <div class="mt-2 w-full flex justify-center">
        <button
            class="bg-blue-500 disabled:bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            x-text="loading ? 'Stop' : 'Generate'"
            :disabled="!prompt"
            @click="if (loading) {
                abortController.abort();
                return;
            }
            loading = true;
            abortController = new AbortController();
            for await (const token of generateText(prompt, abortController.signal)) {
                prompt += token;
            }
            loading = false;"
        ></button>
        <button
            class="bg-blue-500 disabled:bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            @click="prompt = `[INST]${prompt}[/INST]`"
        >
            As Instruction
        </button>
    </div>
</div>

{{ template "views/partials/generate-text-script" }}
